* { 
	font-size: 18px; 
	font-family: Verdana
}

#gridPress {
	background-color: #e55934; 
}

#gridPlasma {
	background-color: #fde74c;
}

#gridBender {
	background-color: #9bc53d;
}

#gridCrane {
	background-color: #5bc0eb;
}